  body {background-color:black}
  
  form {text-align:center}
  
  div {text-align:center}

.imagesblur
{
   opacity:0.5;
   filter:alpha(opacity=50);   /* For IE */
}

.imagesblur:hover
{
  opacity:1.0;
  filter:alpha(opacity=100);   /* For IE */
}

input
{
  background-color:black;
  color:white;
  width:130px;
  height:22px;
  border:none;
  outline: none;
}

#p_input{
position: relative; 
bottom:436px;
right:3px;
 z-index: 100;
}
#badreponse{	
		color: #fff;
    font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 110%;
    font-size: 2.5em;
    font-variant: small-caps
}

cite {
	bottom:550px;
	right:350px;
	position:relative;
	color: #fff;
	font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
	letter-spacing: 0.1em;
	text-align: center;
	line-height: 110%;
	font-size: 1.7em;
	font-variant: small-caps;
}

#iniframe { 
  position : relative;
  width:1000px; 
  height:500px ;


} 





div.container{
  text-align: center ;
  
}



		
			